<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Jiyunmoves Gallery</h3>
      <% if !session[:user_id].nil? %>
        <a href="/gallery/gallery_upload">UPLOAD</a>
      <% end %>
    </div>
  </div>

  <% g=Gallery.new %>
  <div class="row">
    <div class="col-md-3">
      <div class="thumbnail">
        <% g=@galleries.find_by(category: '009') %>
        <a href="/gallery/category/009"><img src="<%= g.image_url(:thumb) %>" alt=" "></a>
        <div class="caption">
          <h3>TheFirstMove</h3>
          <p></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <% g=@galleries.find_by(category: '008') %>
        <a  href="/gallery/category/008"><img src="<%= g.image_url(:thumb) %>" alt=" "></a>
        <div class="caption">
          <h3>Day dreaming</h3>
          <p></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <% g=@galleries.find_by(category: '007') %>
        <a  href="/gallery/category/007"><img src="<%= g.image_url(:thumb) %>" alt=" "></a>
        <div class="caption">
          <h3>Portraits</h3>
          <p></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <% g=@galleries.find_by(category: '006') %>
        <a  href="/gallery/category/006"><img src="<%= g.image_url(:thumb) %>" alt=" "></a>
        <div class="caption">
          <h3>Live realistic</h3>
          <p></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <% g=@galleries.find_by(category: '005') %>
        <a  href="/gallery/category/005"><img src="<%= g.image_url(:thumb) %>" alt=" "></a>
        <div class="caption">
          <h3>2012 Summer, Namhae-Tongyuong</h3>
          <p></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <% g=@galleries.find_by(category: '004') %>
        <a  href="/gallery/category/004"><img src="<%= g.image_url(:thumb) %>" alt=" "></a>
        <div class="caption">
          <h3>Quick Photo</h3>
          <p></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <% g=@galleries.find_by(category: '003') %>
        <a  href="/gallery/category/003"><img src="<%= g.image_url(:thumb) %>" alt=" "></a>
        <div class="caption">
          <h3>Project 2011</h3>
          <p></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <% g=@galleries.find_by(category: '002') %>
        <a  href="/gallery/category/002"><img src="<%= g.image_url(:thumb) %>" alt=" "></a>
        <div class="caption">
          <h3>2008-2009_London</h3>
          <p></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <% g=@galleries.find_by(category: '001') %>
        <a  href="/gallery/category/001"><img src="<%= g.image_url(:thumb) %>" alt=" "></a>
        <div class="caption">
          <h3>Blurred</h3>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
