<% @blogs.reverse.each do |post| %>
  <div class="panel">
    <div class="row panel-body">
      <div class="col-md-3">
        <img src="<%= post.image_url(:thumb) %>">
      </div>
      <div class="col-md-6">
        <p><span class="label label-info"><%= post.category %></span>
        <h4><a href="/blog/blog_each/<%= post.id %>"><%= post.title %> <%= post.date %></a></h4></p>
        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>
<% end %>
